@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    font-family: "Roboto", sans-serif;
    margin: 0;

}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.credit{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

.title{
    margin-top: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    scale: 2;
    text-align: center;

    width: 5vw;
    
}

.canvasSize {
    text-align: center;
    border: none;
    border-bottom: #3CB371 1px solid;
}
.canvasSize:focus{
    outline: none;
}

button{
    margin:4px;
    border: none;
    background-color: #3CB371;
    border-radius: 5px;
    scale:1.1;
}
.canvas{

    margin-top: 20vh;
    display: flex;
    width: 320px;
    flex-wrap: wrap;

    scale: 1.6;
}

.canvas > div {
    outline: rgb(0, 0, 0) 1px solid;
}
